<roundcube:add_label name="back" />
<roundcube:add_label name="errortitle" />
<roundcube:add_label name="options" />
<roundcube:add_label name="plaintoggle" />
<roundcube:add_label name="htmltoggle" />
<roundcube:add_label name="previous" />
<roundcube:add_label name="next" />
<roundcube:object name="doctype" value="html5" />
<roundcube:if condition="!env:framed || env:extwin" />
<html>
<roundcube:else />
<html class="iframe">
<roundcube:endif />
<head>
	<meta charset="UTF-8">
	<title><roundcube:object name="pagetitle" /></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0" id="viewport">
	<link rel="shortcut icon" href="/images/favicon/favicon.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon-180x180.png">
	<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#37beff">
	<link rel="manifest" href="/images/favicon/site.webmanifest">
	<meta name="application-name" content="Roundcube">
	<meta name="msapplication-TileColor" content="#37beff">
	<meta name="msapplication-TileImage" content="/images/favicon/mstile-144x144.png">
	<meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
	<meta name="theme-color" content="#37beff">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-title" content="Roundcube">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<link rel="apple-touch-startup-image" href="/images/splashscreen/iphone-5.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"/>
	<link rel="apple-touch-startup-image" href="/images/splashscreen/iphone-6.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"/>
	<link rel="apple-touch-startup-image" href="/images/splashscreen/iphone-plus.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)"/>
	<link rel="apple-touch-startup-image" href="/images/splashscreen/iphone-x.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"/>
	<link rel="apple-touch-startup-image" href="/images/splashscreen/iphone-xr.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)"/>
	<link rel="apple-touch-startup-image" href="/images/splashscreen/iphone-xs-max.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)"/>
	<link rel="apple-touch-startup-image" href="/images/splashscreen/ipad.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"/>
	<link rel="apple-touch-startup-image" href="/images/splashscreen/ipad-pro-1.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"/>
	<link rel="apple-touch-startup-image" href="/images/splashscreen/ipad-pro-3.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)"/>
	<link rel="apple-touch-startup-image" href="/images/splashscreen/ipad-pro-2.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"/>
	<link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
	<roundcube:if condition="config:devel_mode" />
		<link rel="stylesheet/less" href="/styles/styles.less">
		<roundcube:link rel="stylesheet/less" href="/styles/print.less" condition="env:action == 'print'" />
		<script src="/styles/less.min.js" data-env="development"></script>
	<roundcube:else />
		<link rel="stylesheet" href="/styles/styles.css">
		<roundcube:link rel="stylesheet" href="/styles/print.css" condition="env:action == 'print'" />
	<roundcube:endif />
	<roundcube:if condition="template:name == 'error'" />
		<script src="program/js/jquery.min.js"></script>
	<roundcube:endif />
</head>
<body class="task-<roundcube:exp expression="env:task ?: 'error'">">
	<roundcube:if condition="!env:framed || env:extwin" />
		<div id="<roundcube:exp expression="env:action == 'print' ? 'print-' : ''">layout">
	<roundcube:endif />
